/* Styling of the Start Quiz Session*/

.header {
    color: blanchedalmond;
    font-size: 50px;
    display: flex;
    text-align: center;
    letter-spacing: 10px;
    padding: 25px;
    text-align: center;
}
.list{ /* list styling*/
    color: blanchedalmond;
    padding: 25px;
    letter-spacing: 3px;
    text-align: center;
}

.quiz-list li{
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    height: 50px;
    width: 100px;
    
}
.body { /*body of the quiz*/
    background-color: black;
 flex-wrap: wrap;

}


.quiz{ /*Quiz rules styling*/
    
    font-size: 25px;
    color: white;
    align-items: center;
    width: 0px 25px 0px 25px;
    padding: 200px;
    text-decoration: none;
    text-align: center;
    
}

.quiz span{
   
        color: red;
    }


.quiz:hover{
    cursor: pointer;
    color: burlywood;
   
}

.title{ /*Title of the quiz rules*/
    color: red;
    text-align: center;
    letter-spacing: 3px;

}

.title:hover{
    color: white;
    cursor: pointer;
    transition: 2s;
}



/* Start btn*/

.start-btn {
    color: black;
   font-size: 30px;
   border-radius: 5px;
  flex-direction: column;


}

.start-btn:hover{
    cursor: pointer;
    background-color: bisque;
    border-color: brown;
   display: inline;
   transition: 2s;
}

/* Questions Session*/


* .ques-tion{
    background-color: bisque;
    color: black;
    border-radius: 5px;
    width: 680px;
    height: 550px;
    text-align: center;
    align-items: center;
    flex: auto;
    


}

.info-box {
    justify-content: space-between;
    text-align: center;
}
.ques-tion .title-2{
    font-size: 40px;
    
}

.question-1 {
    text-align: center;
    flex-direction: column;
    display: flex;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    align-items: center;

}

.total-questions{
    color: black;
    
}

.info-box .time-text .timer-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 200px;
    background-color: antiquewhite;
    border: 1px solid brown;
    border-radius: 5px;
    padding: 0 10px;
}

.time-text{
    text-align: center;
    display: inline;
    font-weight: bold;
}
.timer-sec {
    font-weight: bold;
    background-color: white;
    height: 30px;
    width: 45px;
    border-radius: 5px;
    text-align: center;
    padding: 0 8px;
    justify-content: space-between;
    display: inline;
    pointer-events: none;

}

.timer-sec:hover{
    color: red;
    cursor: pointer;
    
}

.answer{
    background-color: white;
   height: 40px;
   width: 200px;
   border-radius: 10px;
   align-items: center;
   justify-content: space-between;
   padding: 0px 25px 0px 25px;
   display: block;
}
.answer:hover{
    cursor: pointer;
    color: brown;
    border-radius: 5px;
} 

.next-btn{
    color: black;
    font-size: 15px;
    border-radius: 5px;
   flex-direction: column;
 
}

.next-btn:hover{
    cursor: pointer;
    background-color: bisque;
    border-color: brown;
   display: inline;
   transition: 2s;
}

/*hidden feature*/

.hidden{
    display: none;

}




